@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
    <a asp-area="Customer" asp-page="/Customer/Home" class="btn btn-primary">
        <i class="bi bi-arrow-return-left">Return</i>
    </a>
</header>
