@model Suffering

<form method="post" asp-action="Edit" a>
    <h2 class="text-decoration p-1">Edit current Suffering</h2>
    <div class="border p-2 mt-3">
        <div class="row pb-1"></div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" rows="3" class="form-control"></textarea>    
			<span asp-validation-for="Description" class="text-danger" ></span>
		</div>
        
        <div class="mb-3" hidden>
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control">
        </div>


        <button type="submit" class="btn btn-primary">Edit</button>

        <a asp-controller="Suffering" asp-action="Index" class="btn btn-secondary">Back to list</a>
    </div>
</form>

<script src="https://cdn.tiny.cloud/1/15ppzj17t7o6klw3o2ryc501mp6jdbk1079w8wuxbsupg3u3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
      toolbar_mode: 'floating',
    });
  </script>