@model IEnumerable<Suffering>

<partial name="_Notifications"></partial> <!--Toaster notifications-->

<div class="container p-3"> 
    <div class="row pt-4"> 
        <div class="col-6">
            <h2 class="text-decoration">Suffering List</h2>
        </div>

        <div class="col-6 text-end p-1">
            <a asp-controller="Suffering" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create new Suffering
            </a>
        </div>

    </div>
    <br>    

    <table id="tblDataSuf" class ="table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Suffering Name</th>
            <th>Description</th>
            <th>Is Suspended</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

</div>


@section Scripts{
    <script src="~/js/JsSuffering.js"></script>
}