@model IEnumerable<MedicalImage>


<partial name="_Notifications"></partial> <!--Toaster notifications-->

<div class="container p-3"> 
    @foreach(var medicalImage in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card" style="width: 18rem; height: 35rem;">
						<img src="~/@medicalImage.ImageUrl" class="card-img-top rounded"/>

						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@medicalImage.Description</p>
							</div>
						</div>
					</div>
                    @*<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@medicalImage.Id">
							Details
						</a>
					</div>*@
				</div> 
			</div>
		</div>
	}

</div>


@section Scripts{
    @*<script src="~/js/.js"></script>*@
}