@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notifications"></partial>

<div class="container col-4">

    <div class="text-center">
        <h1 class="display-4">ASMedical</h1>
        <h5>Healthy information for you</h5>
    </div>

        <div class="col-14">
            <img src="images/index_med.gif" height="96%" width="96%" />
        </div>

        <div class="text-center col-12">
            <button class= "text-center btn-primary">Administration Area<i class="bi bi-file-medical"></i></button>
            <br />
            <br />
            <button class="text-center btn-primary">Medical Area<i class="bi bi-file-medical"></i></button>
        </div>
</div>