@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ExpedienteMedico.Models.ViewModels.MedicineVM

<form method="post">
    <input asp-for="@Model.HistoryId" hidden />
    <h2 class="text-primary p-1">Create new Medicine</h2>
    <div class="border p-2 mt-3">
        <div class="row pb-1"></div>

        <div class="mb-3">
            <label asp-for="@Model.Medicine.Name"></label>
            <input asp-for="@Model.Medicine.Name" class="form-control">
            <span asp-validation-for="@Model.Medicine.Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Medicine" asp-action="Index" class="btn btn-secondary">Back to list</a>
    </div>
</form>

<script src="https://cdn.tiny.cloud/1/15ppzj17t7o6klw3o2ryc501mp6jdbk1079w8wuxbsupg3u3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

